  body 
  {
    background-color:black; 
    color: white;
    font-family: arial;
  }

  h1
  {
    color:gray;
    font-family:verdana;
  }

  div
  {
    background-color:white; 
    color:black;
    width:300px; 
    padding:20px; 
    border:25px; 
    align-items:center; 
    justify-content:center;
    
  }
