  body 
  {
    background-color:black; 
    color: white;
    font-family: arial;
  }

  h1
  {
    color:gray;
    font-family:verdana;
  }

  div
  {
    background-color:white; 
    color:black;
    width:300px; 
    padding:20px; 
    border:25px; 
    text-align:center;
    margin: auto;     
  }

  .slidecontainer
  {
    width: 70%;
  }

